

.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
/* shared style */
  .text-prymary{
    color: #FD6E0A;
  }
  .text-center{
    text-align: center;
  }
  .section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
  }
  .section-description{
    font-size: 18px;
    color: #757575;
  }
  .dark-2{
    color: #474747;
  }
  .secondary-bg{
    background-color: #FFF8F3;
  }
  .btn-prymary{
     width: 150px;
     height: 64px;
     font-size: 20px;
     background-color: #FD6E0A;
     border-radius: 5px;
     /* padding: 9px 16px; */
     border: none;
     color: white;
     font-weight: bold;
     cursor: pointer;
  }
/* header */
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  /* padding-bottom: 100px; */
}
  /* nav style */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
  }
  .nav-title{
    font-weight: 800;
    font-size: 45px;

  }
  nav ul{
    display: flex;
    align-items: center;
  }
  nav ul li{
    list-style: none;
    margin-right: 30px;
  
  }
  nav li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
   
  }
/* banner style */
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;

  }
  .banner-content{
    max-width: 550px;
    padding-bottom: 162px;
  }
  .banner-greetings{
    font-weight: 600;
    font-size: 45px;
  }
  .banner-title{
    font-size: 70px;
    font-weight: bold;
  }
  .banner-profile-pic{
    width: 580px;
  }
/* main */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin: 130px 0px;
}
  .about{
      padding: 130px 150px;
      text-align: center;

      border-radius: 10px;
  }
.about-items{
  display: flex;
  justify-content: space-around;
 
}
.about-item{
  border: 1px solid black; 
  padding: 2px 30px;
  border-radius: 5px;
}
.item-description{
  font-weight: bold;
}

/* skills section style */
.skills-container{
  display: flex;
  gap: 24px;
  margin-top: 50px;
}
.skill{
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0px 6px 20px 0px #2b2a2a ;
}